<div>
    <h2 id="page-heading">
        <span jhiTranslate="jFamilyApp.relative.home.title">Relatives</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-relative" [routerLink]="['/relative/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jFamilyApp.relative.home.createLabel">
            Create new Relative
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="relatives">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jFamilyApp.relative.type">Type</span></th>
            <th><span jhiTranslate="jFamilyApp.relative.origin">Origin</span></th>
            <th><span jhiTranslate="jFamilyApp.relative.destination">Destination</span></th>
            <th><span jhiTranslate="jFamilyApp.relative.family">Family</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let relative of relatives ;trackBy: trackId">
                <td><a [routerLink]="['/relative', relative.id, 'view' ]">{{relative.id}}</a></td>
                <td jhiTranslate="{{'jFamilyApp.RelType.' + relative.type}}">{{relative.type}}</td>
                <td>
                    <div *ngIf="relative.origin">
                        <a [routerLink]="['../person', relative.origin?.id, 'view' ]" >{{relative.origin?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="relative.destination">
                        <a [routerLink]="['../person', relative.destination?.id, 'view' ]" >{{relative.destination?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="relative.family">
                        <a [routerLink]="['../family', relative.family?.id, 'view' ]" >{{relative.family?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/relative', relative.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/relative', relative.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'relative/'+ relative.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
