<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-relative-heading" jhiTranslate="jFamilyApp.relative.home.createOrEditLabel">Create or edit a Relative</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!relative.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="relative.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jFamilyApp.relative.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="relative.type" id="field_type" >
                        <option value="MARRIED">{{'jFamilyApp.RelType.MARRIED' | translate}}</option>
                        <option value="PARENT">{{'jFamilyApp.RelType.PARENT' | translate}}</option>
                        <option value="SIBLING">{{'jFamilyApp.RelType.SIBLING' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jFamilyApp.relative.origin" for="field_origin">Origin</label>
                    <select class="form-control" id="field_origin" name="origin" [(ngModel)]="relative.origin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id === relative.origin?.id ? relative.origin : personOption" *ngFor="let personOption of origins; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jFamilyApp.relative.destination" for="field_destination">Destination</label>
                    <select class="form-control" id="field_destination" name="destination" [(ngModel)]="relative.destination">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id === relative.destination?.id ? relative.destination : personOption" *ngFor="let personOption of destinations; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jFamilyApp.relative.family" for="field_family">Family</label>
                    <select class="form-control" id="field_family" name="family" [(ngModel)]="relative.family" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="familyOption.id === relative.family?.id ? relative.family : familyOption" *ngFor="let familyOption of families; trackBy: trackFamilyById">{{familyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
