<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="relative">
            <h2><span jhiTranslate="jFamilyApp.relative.detail.title">Relative</span> {{relative.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jFamilyApp.relative.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jFamilyApp.RelType.' + relative.type}}">{{relative.type}}</span>
                </dd>
                <dt><span jhiTranslate="jFamilyApp.relative.origin">Origin</span></dt>
                <dd>
                    <div *ngIf="relative.origin">
                        <a [routerLink]="['/person', relative.origin?.id, 'view']">{{relative.origin?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jFamilyApp.relative.destination">Destination</span></dt>
                <dd>
                    <div *ngIf="relative.destination">
                        <a [routerLink]="['/person', relative.destination?.id, 'view']">{{relative.destination?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jFamilyApp.relative.family">Family</span></dt>
                <dd>
                    <div *ngIf="relative.family">
                        <a [routerLink]="['/family', relative.family?.id, 'view']">{{relative.family?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/relative', relative.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
